

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

hr {
    border-top: 1px solid #dee2e6;
}

/* 
    ================ Custom Modal ================ 
*/
.modal-xl-custom{
    width: 100% !important;
    min-width: 95% !important;
}

/* 
    ================ SmartWizard ================ 
*/
.btn-toolbar{
    display: none !important;
}

/* step */
.sw-theme-arrows>ul.step-anchor>li.active>a {
    border-color: #545454!important;
    color: #fff !important;
    background: #343a40 !important;
}

.sw-theme-arrows>ul.step-anchor>li.active>a:after {
    border-left: 30px solid #343a40!important;
}

/* done */
.sw-theme-arrows>ul.step-anchor>li.done>a {
    border-color: #545454!important;
    color: #fff !important;
    background: #343a40 !important;
}

.sw-theme-arrows>ul.step-anchor>li.done>a:after {
    border-left: 30px solid #343a40!important;
}

.modal-semi-full {
    max-width: 95%;
    margin: 1rem auto;
}

.modal-semi-full .modal-content {
    height: calc(100vh - 2rem);
}

.modal-semi-full .modal-body {
    overflow-y: auto;
}