
/* ==============================
HEADER PART 1
================================ */

@page{
    margin:8px;
}

body{
    font-family: DejaVu Sans, sans-serif;
    font-size:10px;
}

table{
    border-collapse:collapse;
    width:100%;
}

td,th{
    border:1px solid #444;
    padding:3px;
}

.center{
    text-align:center;
}

.middle{
    vertical-align:middle;
}

.green{
    background:#B8F4CF;
}

.cyan{
    background:#00E5F2;
}

.gray{
    background:#EFEFEF;
}

.title{
    font-size:22px;
    font-weight:bold;
}

.subtitle{
    font-size:14px;
    font-weight:bold;
}

.logo{
    width:70px;
}

.photo{
    width:95px;
    height:110px;
}

.level{

    width:90px;
    height:90px;

    border-radius:45px;

    background:#00FF00;

    text-align:center;

    font-size:18px;

    font-weight:bold;

    line-height:26px;

    margin:auto;

    padding-top:18px;
}

.skill{
    width:22px;
    height:28px;
}

.fill{
    background:#00E5F2;
}

.small{
    font-size:9px;
}

.signature{

    height:60px;
}

/* ==============================
COMPETENCY MATRIX PART 2
================================ */

.matrix-title{
    background:#F7F7F7;
    font-size:14px;
    font-weight:bold;
    text-align:center;
}

.matrix-header{
    background:#F7F7F7;
    font-size:9px;
    text-align:center;
    font-style:italic;
}

.matrix-level{
    width:75px;
    font-weight:bold;
    text-align:center;
}

.matrix-info{
    width:75px;
    text-align:center;
    font-style:italic;
}

.matrix-product{
    width:90px;
    text-align:center;
    font-size:16px;
    font-weight:bold;
}

.skill-box{
    width:26px;
    height:28px;
    text-align:center;
    padding:0;
}

.skill-fill{
    background:#18EAF2;
}

.matrix-row td{
    height:56px;
}

.matrix-small{
    font-size:9px;
}

/* ==============================
RIGHT SIDE PART 3
================================ */

.legend-table td,
.legend-table th{
    border:1px solid #444;
    padding:4px;
    font-size:9px;
}

.legend-header{
    background:#B8F4CF;
    font-weight:bold;
    text-align:center;
}

.rate-box{
    width:18px;
    height:18px;
    border:1px solid #333;
    display:inline-block;
}

.rate-fill{
    background:#00E5F2;
}

.level-circle-small{
    width:26px;
    height:26px;
    border-radius:50%;
    display:inline-block;
}

.level1{
    background:#E91E63;
}

.level2{
    background:#FBC02D;
}

.level3{
    background:#29B6F6;
}

.level4{
    background:#4CAF50;
}

.signature-box{
    height:65px;
    text-align:center;
    vertical-align:bottom;
}

.signature-line{
    border-top:1px solid #000;
    margin-top:50px;
    padding-top:3px;
    font-size:9px;
}